<div id='form'>
  <%= form_tag '/queued', :remote => true do %>
    <%= text_field_tag 'color' %>
    <%= submit_tag 'enqueue' %>
    <%= submit_tag 'dequeue' %>
  <% end %>
</div>

<div id='queue' class="group">
</div>